<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>post deets</title>-->
<!--</head>-->
<!--<body>-->

<!--<h1>post's details</h1>-->
<!--<p th:text="${postdetails.getHistoryOfPost()}"></p>-->
<!--<p>Is it awesome? <span th:text="${postdetails.isAwesome()}"></span></p>-->
<!--<br>-->
<!--<p>Post's covered topics: <span th:text="${postdetails.getTopicDescription()}"></span></p>-->


<!--</body>-->
<!--</html>-->